.q-line {
    display: flex;
    align-items: center;
    height: 6rem;
    margin-bottom: 4rem !important;
}

.q-foo {
    position: fixed;
    bottom: 0;
}

.q-dim {
    color: #303030;
    border-color: #303030;
}

.reveal .slides section .fragment.dim {
    opacity: 1;
    visibility: inherit;
}

.reveal .slides section .fragment.dim.visible {
    /*color: #222;*/
    /*border-color: #222;*/
    filter: blur(30px);
}

.q-tiny .q-line {
    height: 4rem;
    margin-bottom: 2rem !important;
}

.q-line > div {
    width: 100%;
}

.q-line-annotation {
    margin-top: -4rem !important;
}

.q-wire {
    /*position: relative;*/
    border-color: white;
    width: 100%;
    border-bottom: 0.25rem solid !important;
    /*top: 50%;*/
    height: 0 !important;
}

.q-gate {
    border-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.25rem solid !important;
    border-radius: 0.5rem;
    height: 6rem;
    margin: -0.25rem !important;
}

.q-tiny .q-gate {
    height: 4rem;
}

.q-wide {
    width: 200% !important;
}

.q-empty {
    position: relative;
    top: 50%;
    height: 100%;
}

.q-rowspan-2 {
    width: 100%;
    top: -3rem;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.q-rowspan-6 {
    width: 100%;
    top: -3rem;
    height: 54rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.q-tiny .q-rowspan-2 {
    top: -2rem;
    height: 10rem;
}

.q-tiny .q-rowspan-6 {
    top: -2rem;
    height: 34rem;
}

.q-rowspan-2 > .q-label, .q-empty > div {
    position: absolute;
}

.q-rowspan-2 > .q-label {
    font-size: 1.25rem;
}

.q-rowspan-2.q-output, .q-rowspan-2.q-wire {
    margin-top: 50%;
}

.q-t-l {
    top: 2rem;
    left: 0.5rem;
}

.q-tiny .q-t-l {
    top: 0.5rem;
}

.q-t-r {
    top: 2rem;
    right: 0.5rem;
}

.q-tiny .q-t-r {
    top: 0.5rem;
}

.q-b-l {
    bottom: 2rem;
    left: 0.5rem;
}

.q-tiny .q-b-l {
    bottom: 0.5rem;
}

.q-b-r {
    bottom: 2rem;
    right: 0.5rem;
}

.q-tiny .q-b-r {
    bottom: 0.5rem;
}

.q-icon-measure {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.q-icon-measure .crop {
    position: relative;
    top: -12.5%;
    width: 100%;
    overflow: hidden;
}

.q-icon-measure .display {
    margin: 1rem;
    height: 100%;
    border-color: white;
    border: 0.25rem solid;
    border-radius: 50%;
}

.q-icon-measure .tick {
    left: 11.18%;
    top: -25%;
    position: relative;
    display: flex;
    align-items: center;
    width: 40%;
    transform: rotate(-45deg)
}

.q-icon-measure .dot {
    position: absolute;
    display: inline-block;
    border-color: white;
    border: 0.25rem solid;
    border-radius: 1rem;
}

.q-icon-measure .line {
    position: absolute;
    left: 0.25rem;
    display: inline-block;
    width: 100%;
    border-color: white;
    border-bottom: 0.25rem solid;
}

.q-icon-measure .cursor {
    position: absolute;
    right: -1.5rem;
    display: inline-block;
    width: 0;
    height: 0;
    border-color: white;
    border-top: 1rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid;
    border-left: 0.5rem solid transparent;
    transform: rotate(90deg);
}
